<h2><em>Who is</em> The White Ninja MC (FSIXNinja, Aaron Bechtel)<em>?</em></h2>

<!-- Image of me -->
<img src="https://placehold.co/250x300" />

<!-- Biography -->
<p>
  I am a software engineer, content creator, and origami enthusiast. I have been
  studying intermittenly for the past five years, focusing primarily on Python,
  JavaScript, and web development, taking breaks in my college career when
  health issues in my family arose. I have recently completed my second
  certificate of Full-Stack Development in Web Design.
</p>

<p>
  I have studied at Brigham Young University - Idaho, and created quite a few
  personal projects. I have a main page at
  <a href="https://www.fsixninja.dev" target="_blank"
    >https://www.fsixninja.dev</a
  >, which contains links to my learning projects through my tenure in school.
  You will also find links to my favorite personal projects, like a 2D solar
  system animation, a blog, and a grocery shopping tool. This project will also
  be linked there.
</p>

<!-- Contact -->
<p>
  For more information, please feel free to reach out to me at
  <a routerLink="/contact">my Contact page</a>. I am always open to discussing
  new projects, learning new skills, and working on personal projects. Feel free
  to ask any questions you may have.
</p>

<!-- Social media -->
<ul>
  <li>
    <a href="#" target="_blank"><i class="fab fa-facebook">Facebook</i></a>
  </li>
  <li>
    <a href="#" target="_blank"><i class="fab fa-twitter">Twitter</i></a>
  </li>
  <li>
    <a href="#" target="_blank"><i class="fab fa-instagram">Instagram</i></a>
  </li>
</ul>

<!-- Projects -->
<h3>Projects</h3>
<ul>
  <li><a href="https://blog.fsixninja.dev/" target="_blank">Blog</a></li>
  <li>
    <a
      href="https://www.fsixninja.dev/our-site/html/solar-system"
      target="_blank"
      >Solar System Animation</a
    >
  </li>
  <li>
    <a href="https://grocery.fsixninja.dev/" target="_blank"
      >Grocery Shopping Tool</a
    >
  </li>
</ul>

<!-- Education -->
<h3>Education</h3>
<p>Brigham Young University - Idaho</p>
<p>Full-Stack Development Certificate</p>
<p>2021 - Present</p>

<!-- Skills -->
<h3>Skills</h3>
<ul>
  <li>Python</li>
  <li>JavaScript</li>
  <li>Angular</li>
</ul>
<!-- Fun fact -->
<h3>Fun Fact</h3>
<p>
  My favorite color is Cyan, but more specifically the elusive
  <em>true</em> cyan that we cannot see.
</p>
<!-- End of content -->
