<div class="row">
  <div class="d-flex flex-row justify-content-around">
    <button [routerLink]="['edit']" class="btn btn-primary m-1">
      Edit Details
    </button>
    <button (click)="onDelete()" class="btn btn-danger m-1">Delete</button>
  </div>
  <video
    src="{{ video.url }}"
    type="video/mp4"
    class="mx-auto"
    width="320"
    height="240"
    controls
    [controlsList]="['nodownload']"
  ></video>
  <h3>{{ video.title }}</h3>
  <p class="mb-5 w-75 overflow-x">{{ video.description }}</p>
</div>
