<div class="chatbox">
  <div class="chatbox-support">
    <div class="chatbox-header">
      <div class="chatbox-image-header">
        <img src="/assets/images/algee_avatar_48_48.svg" alt="image" />
      </div>
      <div class="chatbox-content-header">
        <h4 class="chatbox-heading-header">Chat support</h4>
        <p class="chatbox-description-header">
          Hi. My name is Algee.
          @if (health) {
            How can I help you?
          } @else {
            I'm currently unavailable.
          }
        </p>
      </div>
    </div>
    @if (health) {
      <div class="chatbox-messages" tabindex="0">
        <div class="chatbox-content"></div>
      </div>
      <div class="chatbox-footer">
        <input name="message" type="text" placeholder="Write a message..." />
        <button class="chatbox-send-footer send-button">Send</button>
      </div>
    } @else {
      <div class="chatbox-messages" tabindex="0">
        <div class="chatbox-content">
          <p>The AI chatbot is currently disabled.</p>
        </div>
      </div>
    }
  </div>
  <div class="chatbox-button">
    <button class="glowing" tabindex="0">
      <img src="/assets/images/chatbox-icon.svg" />
    </button>
  </div>
</div>
