<div class="container">
  <div class="chatbox">
    <div class="chatbox-support">
      <div class="chatbox-header">
        <div class="chatbox-image-header">
          <img
            src="https://img.icons8.com/color/48/000000/circled-user-female-skin-type-5--v1.png"
            alt="image"
          />
        </div>
        <div class="chatbox-content-header">
          <h4 class="chatbox-heading-header">Chat support</h4>
          <p class="chatbox-description-header">
            Hi. My name is Algee. How can I help you?
          </p>
        </div>
      </div>
      <div class="chatbox-messages">
        <div class="chatbox-content"></div>
      </div>
      <div class="chatbox-footer">
        <input type="text" placeholder="Write a message..." />
        <button class="chatbox-send-footer send-button">Send</button>
      </div>
    </div>
    <div class="chatbox-button">
      <button><img src="../../assets/images/chatbox-icon.svg" /></button>
    </div>
  </div>
</div>
