<div class="chatbox">
  <div class="chatbox-support">
    <div class="chatbox-header">
      <div class="chatbox-image-header">
        <img src="../../assets/images/algee_avatar_48_48.svg" alt="image" />
      </div>
      <div class="chatbox-content-header">
        <h4 class="chatbox-heading-header">Chat support</h4>
        <p class="chatbox-description-header">
          Hi. My name is Algee. How can I help you?
        </p>
      </div>
    </div>
    <div class="chatbox-messages">
      <div class="chatbox-content"></div>
    </div>
    <div class="chatbox-footer">
      <input name="message" type="text" placeholder="Write a message..." />
      <button class="chatbox-send-footer send-button">Send</button>
    </div>
  </div>
  <div class="chatbox-button">
    <button class="glowing">
      <img src="../../assets/images/chatbox-icon.svg" />
    </button>
  </div>
</div>
