/* ==============CHATBOX============== */
.chatbox {
  display: flex;
  flex-direction: column;
  --primaryGradient: linear-gradient(93.12deg, #1b2a98 0.52%, #31acac 100%);
  --secondaryGradient: linear-gradient(
    268.91deg,
    #1b2a98 -2.14%,
    #31acac 99.69%
  );
  --primaryBoxShadow: 0 0.9rem 1.2rem rgba(0, 0, 0, 0.1);
  --secondaryBoxShadow: 0 -0.9rem 1.2rem rgba(0, 0, 0, 0.1);
  --primary: #3f7ec7;
  align-items: self-end;
  padding: 1rem;
}

/* CONTENT IS CLOSED */
.chatbox-support {
  flex-direction: column;
  display: none;
  background-color: transparent;
  max-height: 450px;
  max-width: 350px;
  height: 75dvh;
  width: 75dvw;
  box-shadow: 0 0 1.2rem rgba(0, 0, 0, 0.1);
  border-radius: 1.5rem;
  transition: all 0.5s ease-in-out;
  margin-bottom: 0.1rem;
}

/* CONTENT IS OPENED */
.chatbox-active {
  display: flex;
}

/* BUTTON */
.chatbox-button {
  max-width: fit-content;
  text-align: right;
}

.chatbox-button > button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.chatbox-button button img {
  max-width: 130%;
}

.send-button {
  padding: 0.4rem;
  background: transparent;
  border: none;
  cursor: pointer;
}

/* MESSAGES */
.chatbox-messages {
  margin-top: auto;
  display: flex;
  padding: 0.5rem 1.5rem;
  flex-direction: column-reverse;
  background-color: #ffffff;
  height: 100%;
  overflow-y: scroll;
}

/* HEADER */
.chatbox-header {
  background: var(--primaryGradient);
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0.9rem 1.5rem;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  box-shadow: var(--primaryBoxShadow);
}

.chatbox-image-header {
  margin-right: 0.9rem;
}

.chatbox-heading-header {
  font-size: 1rem;
  color: white;
}

.chatbox-description-header {
  font-size: 1rem;
  color: white;
}

/* FOOTER */
.chatbox-footer {
  bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 1.5rem;
  background: var(--secondaryGradient);
  box-shadow: var(--secondaryBoxShadow);
  border-bottom-right-radius: 0.9rem;
  border-bottom-left-radius: 0.9rem;
}

.chatbox-footer input {
  width: 80%;
  border: none;
  padding: 0.9rem 0.9rem;
  border-radius: 2.5rem;
  text-align: left;
}

.chatbox-send-footer {
  color: white;
}

.chatbox-button button,
.chatbox-button button:visited {
  padding: 0.9rem;
  background: white;
  box-shadow: 0 0.9rem 1.2rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
