<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a
            class="nav-link"
            href="/"
            [routerLink]="['/']"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            Home
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="/about"
            [routerLink]="['/about']"
            routerLinkActive="active"
          >
            About
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="/contact"
            [routerLink]="['/contact']"
            routerLinkActive="active"
          >
            Contact
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link disabled"
            href="/test"
            [routerLink]="['/test']"
            routerLinkActive="active"
          >
            Disabled
          </a>
        </li>
      </ul>

      <div class="dropdown">
        <button
          class="btn btn-secondary dropdown-toggle"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Dropdown button
        </button>
        <ul class="dropdown-menu">
          <li class="dropdown-item">Action 1</li>
          <li class="dropdown-item">Action 2</li>
          <li class="dropdown-item">Action 3</li>
        </ul>
      </div>
      <h3>This is the AppComponent!</h3>
      <app-servers></app-servers>
    </div>
  </div>
</div>
<app-chatbot></app-chatbot>
