<h2>Project Images</h2>
<!-- Gallery of projects (screenshots) -->
<div class="container text-center mb-5">
  <div class="row">
    <div class="mt-2 col-md-5">
      <img class="w-100" src="../../../assets/images/Blog_fsixninja.png" alt="Blogs on the FSIXNINJA blog site." loading="lazy">
    </div>

    <div class="mt-2 col-md-5">
      <img class="w-100" src="../../../assets/images/Restaurant_api_doc_wdd341.png" alt="A restaruant API documented with SwaggerUI in Express." loading="lazy">
    </div>

    <div class="mt-2 col-md-5">
      <img class="w-100" src="../../../assets/images/WeLearnCMS_BYU-Idaho_fsd_assignment.png" alt="A CMS Angular application developed in the Full-Stack Development course at BYU-Idaho." loading="lazy">
    </div>
  </div>
</div>
