/* You can add global styles to this file, and also import other style files */

/* Remove pesky Bootstrap z-index: */
* {
  z-index: initial !important;
}

/* SVG image buttons are to be 55px X 55px max: */
button:has(img) {
  max-width: 55px;
  max-height: 55px;
}

/* Add a dark mode switch: */
[data-theme="dark"] body {
  filter: invert(95%) hue-rotate(180deg);
  background-color: #161616;
}

[data-theme="dark"] img,
[data-theme="dark"] video:not(:fullscreen) {
  filter: invert(100%) hue-rotate(180deg);
}

[data-theme="light"] body {
  filter: invert(0%) hue-rotate(0deg);
  background-color: #e5e9e9;
}

[data-theme="light"] img,
[data-theme="light"] video {
  filter: invert(0%) hue-rotate(0deg);
}

.chatbox {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-size: 100%;
}

.messages-item {
  margin-top: 1rem;
  background-color: #e0e0e0;
  padding: 0.5rem 0.5rem;
  max-width: 70%;
  width: fit-content;
  overflow-wrap: break-word;
}

.messages-item-visitor {
  margin-right: auto;
}

.messages-item-visitor,
.messages-item-typing {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.messages-item-operator {
  margin-left: auto;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  background: var(--primary);
  color: white;
}

html,
body {
  min-height: 100vh;
}

.nav-tabs {
  border-bottom: none !important;
}

.m-reset {
  margin: 0 !important;
}

.navbar-nav > li > button {
  border: none !important;
  background-color: transparent;
}

.navbar-collapse.collapse {
  display: flex !important;
  flex-direction: row;
  max-width: 100%;
}

.navbar-collapse.collapse > :not(:last-child) {
  position: relative;
}

.navbar-collapse.collapse > :last-child {
  margin-left: auto;
}

.btn_toggle-theme {
  position: absolute;
  border: none;
  top: 0.5rem;
  right: 0.5rem;
  background-color: transparent;
}

.border-transparent-50 {
  border: transparent 0.1rem solid;
  border-radius: 50%;
}

.chatbox-active + .chatbox-button > button {
  border: transparent 0.1rem solid;
  border-radius: 50%;
}

* > :not(.chatbox-active) + .chatbox-button > .glowing {
  animation: glow 3s infinite;
}

@keyframes glow {
  0% {
    border: transparent 0.1rem solid;
    border-radius: 50%;
    outline-offset: 0.25rem;
    outline-color: cyan;
  }
  75% {
    border: #989898 0.1rem solid;
    border-radius: 50%;
    outline-offset: 0.25rem;
    outline-color: cyan;
  }
  100% {
    border: transparent 0.1rem solid;
    border-radius: 50%;
    outline-offset: 0.25rem;
    outline-color: cyan;
  }
}

.over-x {
  max-width: 80vw;
  overflow-wrap: break-word;
}

.scrollable {
  max-height: 80vh;
  overflow-y: auto;
}

.scrollable-md {
  max-height: 40vh;
  overflow-y: auto;
}

.w-45 {
  max-width: 45%;
}

.w-55 {
  max-width: 55%;
}

.sticky-custom {
  position: sticky;
  top: 0;
  z-index: 3;
}

.blue {
  background-color: #78bae6;
  color: black;
}

.btn-custom {
  line-height: 1rem;
  border: none;
  padding: 0.5rem;
  border-radius: 2rem;
  font-weight: 500;
}

.lh-custom {
  line-height: 1.5;
}

.p-reset {
  padding: initial;
}

.w-reset {
  width: initial;
}

.list-group-item {
  max-width: 100vw !important;
}

.ng-invalid {
  border-color: red;
  border-width: 1px;
  border-style: solid;
  transition: border-color 0.3s ease-in-out;
}

.ng-valid {
  border-color: green;
  border-width: 1px;
  border-style: solid;
  transition: border-color 0.3s ease-in-out;
}

.red {
  color: red;
}
